<p class="title">Привет, будем ждать?</p>
<div class="date-picker">
  <button class="btn btn--start" data-action="start" type="button">Подождать</button>
  <input class="datepicker" type="text" placeholder="Выбери дату!" />
  <button class="btn btn--stop" data-action="stop" type="button">Надоело ждать!</button>
</div>

<div class="timer" id="timer-1">
  <div class="field">
    <span class="value" data-value="days">--</span>
    <span class="label">Days</span>
  </div>

  <div class="field">
    <span class="value" data-value="hours">--</span>
    <span class="label">Hours</span>
  </div>

  <div class="field">
    <span class="value" data-value="mins">--</span>
    <span class="label">Minutes</span>
  </div>

  <div class="field">
    <span class="value" data-value="secs">--</span>
    <span class="label">Seconds</span>
  </div>
</div>
